
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="jumbotron" class="jumbotron">
      <div class="container">
        <h1>Bem-vindo ao Sistema de Informações Contratuais da SESA</h1>
        <p>Este aplicativo visa manter, coletar e tratar as informações dos contratos celebrados pela SESA com o objetivo de aprimorar a gestão do sistema de saúde</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba Mais »</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Gestor NECC</h2>
          <p>Tire suas dúvidas </p>
          <p><a class="btn btn-default" href="#" role="button">Saiba Mais»</a></p>
        </div>
        <div class="col-md-6">
          <h2>Fiscal</h2>
          <p>Seu papel é essencial para que possamos manter atualizado a plataforma. Tire suas dúvidas aqui!</p>
          <p><a class="btn btn-default" href="#" role="button">Saiba Mais »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>GTI - © 2016 Secretaria de Estado da Saúde – ES.</p>
      </footer>
    </div> <!-- /container -->
