@import "bootstrap-sprockets";
@import "bootstrap";

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input {

margin-top: 5px;
margin-bottom: 5px;
}

.form p {
    text-align: justify;
    font-size: small;
}
