@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    width: 240px;
}

#jumbotron div  {
    margin-top: 75px;
    .container {
        margin-top: 10px;
    }
}

.navbar-blue {
    background-color: #208BAA;
    border-color: #000000;

}

.btn-green{
    color: #fff;
    background-color: #67ca67;
    border-color: #ffffff;
}

.btn-pink {
    color: #fff;
    background-color: #c86673;
    border-color: #ffffff;
}


.navbar-form.navbar-right {
    margin-top: 17px;

}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input {
margin-top: 5px;
margin-bottom: 5px;
}

.form p {
    text-align: justify;
    font-size: small;
}
